/* Last updated August 2018 */
 /*#smartDataParsed{
	border: 3px solid #514BC8;
	border-spacing: 5px;
    padding : 10px;
    background-color: #cceeff;
    font-size:18px; 
}

*/
#smartDataParsed{
width:500px;   
 height:80px;
} 

/* Last updated July 2018 */
#textAreaInputSensorData{
 width:500px;   
 height:80px; 
}

.paragraphCenter { /* <p class="paragraphCenter"> </p>*/
    text-align: center;
}

#buttonExecuteKHealthReasoner{
	border: 3px solid #514BC8;
	border-spacing: 5px;
    padding : 10px;
    background-color: #cceeff;
    font-size:18px; 
}

#textAreaOutputSensorData{
 width:500px;   
 height:200px; 
}


 /* Last updated August 2017 */
 
 
.newInformationBlue:visited{
    background-color: #00ace6;
     color:#004d66;
} 


.newInformationBluek:link {
    background-color: #00ace6;
     color:#004d66;
} 

.newInformationBlue:hover {
    background-color: #00ace6;
    color:#004d66;
} 

.newInformationBlue
{
 color:#004d66;
text-decoration: blink;
 background-color: #00ace6;
font-size:20px;

}


 /* Last updated  March 2017 */
 
 /******************* FANCY LISTS *************************/

 /* LIST #3 */
#list3 { }
#list3 ul { list-style-image: url("arrowList.png"); color:#eee; font-size:18px; }
#list3 ul li { line-height:30px; }
/*image stored in the css repository otherwise the path (when stored in /images) is not right, the image is not loaded on the deployed version but works on localhost*/



/* LIST #8 */
#list8 {  }
#list8 ul { list-style:none; }
#list8 ul li { font-family:Georgia,serif,Times; font-size:18px; }
#list8 ul li a { display:block; width:300px; height:28px; background-color:#333; border-left:5px solid #222; border-right:5px solid #222; padding-left:10px;
  text-decoration:none; color:#bfe1f1; }
#list8 ul li a:hover {  -moz-transform:rotate(-5deg); -moz-box-shadow:10px 10px 20px #000000;
  -webkit-transform:rotate(-5deg); -webkit-box-shadow:10px 10px 20px #000000;
  transform:rotate(-5deg); box-shadow:10px 10px 20px #000000; }



 /******************* OTHERS *************************/



img.info:title {
    font-size: 30px;
    background: white;

   color: green;
}

.tdcenter{
text-align: center;
} 


.iswc_tutorial_h3{
text-align: center;
} 


 /******************* WARNING INFO FOR REFACTORING *************************/

.warning:visited{
    background-color: #80ccff;
     color:#004d80;
} 

.warning:link{
    background-color: #80ccff;
     color:#004d80;
} 

.warning:hover {
    background-color: #80ccff;
    color:#004d80;
} 

.warning
{
 color:black;
text-decoration: blink;
 background-color: #80ccff;
font-size:20px;
font-weight:bold;

}


 /******************* WARNING INFO FOR REFACTORING *************************/

.newInformationPink:visited{
    background-color: #A876B2;
     color:#170B3B;
} 


.newInformationPink:link {
    background-color: #A876B2;
     color:#170B3B;
} 

.newInformationPink:hover {
    background-color: #A876B2;
    color:#170B3B;
} 

.newInformationPink
{
 color:#170B3B;
text-decoration: blink;
 background-color: #A876B2;
font-size:20px;

}


.newInformation:link {
    background-color: #8258FA;
     color:#170B3B;
} 

.newInformation:hover {
    background-color: #819FF7;
    color:#170B3B;
} 

.newInformation
{
 color:#170B3B;
text-decoration: blink;
 background-color: #8258FA;
font-size:20px;

}


/* unvisited link */
a:link {
    color: #5C4BC8;
}

/* visited link */
a:visited {
    color: #8B4BC8;
}

/* mouse over link */
a:hover {
    color: #642EFE;
}

/* selected link */
a:active {
    color: #642EFE;
}

h1{
	
	 color: #514BC8;
}

h3, h2{
	
	 color: #514BC8;
}

.redBlink:visited, .link {
    background-color: red;
     color:black;
} 

.redBlink:hover {
    background-color: red;
    color:black;
} 

.redBlink
{
 color:black;
text-decoration: blink;
 background-color: red;
font-size:20px;

}

.displayNumberOntology
{
color:purple;
text-decoration: blink;
display: inline;
font-weight:bold;
font-size:25px;
}






.purpleQuestion
{
color:purple;
font-weight:bold;
}
.online
{
background-color:#FACC2E;
color:black;
}

.already
{
background-color:#008000;
color:black;
}

.ongoing
{
background-color:#FC9A21;
color:black;
}

.lov
{
background-color:#80F391;
color:black;
}

.no
{
background-color:#F3808B;
color:black;
}


