.iswc_tutorial_h3{
text-align: center;
} 

.newInformationPink:visited{
    background-color: #A876B2;
     color:#170B3B;
} 


.newInformationPink:link {
    background-color: #A876B2;
     color:#170B3B;
} 

.newInformationPink:hover {
    background-color: #A876B2;
    color:#170B3B;
} 

.newInformationPink
{
 color:#170B3B;
text-decoration: blink;
 background-color: #A876B2;
font-size:20px;

}


.newInformation:link {
    background-color: #8258FA;
     color:#170B3B;
} 

.newInformation:hover {
    background-color: #819FF7;
    color:#170B3B;
} 

.newInformation
{
 color:#170B3B;
text-decoration: blink;
 background-color: #8258FA;
font-size:20px;

}


/* unvisited link */
a:link {
    color: #5C4BC8;
}

/* visited link */
a:visited {
    color: #8B4BC8;
}

/* mouse over link */
a:hover {
    color: #642EFE;
}

/* selected link */
a:active {
    color: #642EFE;
}

h1{
	
	 color: #514BC8;
}

h3, h2{
	
	 color: #514BC8;
}

.redBlink:visited, .link {
    background-color: red;
     color:black;
} 

.redBlink:hover {
    background-color: red;
    color:black;
} 

.redBlink
{
 color:black;
text-decoration: blink;
 background-color: red;
font-size:20px;

}

.displayNumberOntology
{
color:purple;
text-decoration: blink;
display: inline;
font-weight:bold;
font-size:25px;
}






.purpleQuestion
{
color:purple;
font-weight:bold;
}
.online
{
background-color:#FACC2E;
color:black;
}

.already
{
background-color:#008000;
color:black;
}

.ongoing
{
background-color:#FC9A21;
color:black;
}

.lov
{
background-color:#80F391;
color:black;
}

.no
{
background-color:#F3808B;
color:black;
}


